<h1 class="ls-title-intro ls-ico-book">Livro</h1>
<%= form_for(@book, html: { class: "ls-form row" }) do |f| %>
<div class="ls-box">
<div class="row">
  <div class="col-md-12">
    <div class="ls-box">
      <p><strong>Título do Livro</strong></p>
      <p class="ls-break-text"><%= @book.title %></p>
      <hr>
      <p><strong>Autor</strong></p>
      <p class="ls-break-text"><%= @book.author %></p>
      <hr>
      <p><strong>Descrição</strong></p>
      <p class="ls-break-text"><%= @book.description %></p>
      <hr>
      <p><strong>Versão</strong></p>
      <p class="ls-break-text"><%= @book.release.to_formatted_s %></p>

           <hr>
      <p><strong>Linguagem</strong></p>
      <p class="ls-break-text"><%= @book.language %></p>
      <hr>
      <p><strong>Editora</strong></p>
      <p class="ls-break-text"><%= @book.publishing_house %></p>
    </div>
  </div>
</div>
</div>

<%= link_to 'Editar', edit_book_path(@book) , class: "ls-btn-darker" %>
<%= link_to 'Voltar', books_path, class: "ls-btn-darker" %>

<% end %>
